
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-top: 250px;
  margin-left: 700px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 100px;
  float: right;
  margin-top: -50px;
  margin-right: 150px;
  margin-left: -200px;
  font-size: large;
  font-weight: 1000;
  font-family: sans-serif;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
